.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 253, 253);
    color: rgb(77, 148, 67);
    text-align: left;
  }
  
  .nav_container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid 1px red;
  }
  
  .nav_container{
      max-width:10%;
      max-height: 10%;
      width: 10%;
      height: 1px;;
     
  
  }